@model PartnerModel

@{
    ViewData["Title"] = "Partner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var count = 0;
}

<div class="bg-success font-weight-bold text-center text-white">
    <span>@ViewBag.Message</span>
</div>
<div class="bg-dark text-white text-center font-weight-bold mt-5 mb-2">
    <p class="h4 p-1">Partners</p>
</div>
<div>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
@if (ViewBag.add)
{
    <div class="mt-2 mb-2">
        <form asp-action="Create" method="post">
            <div class="row">
                <div class="col-3">
                    <input asp-for="@Model.Partner.PartnerName" class="form-control" placeholder="Partner Name" />
                </div>
                <div class="col-7">
                    <input asp-for="@Model.Partner.PartnerUrl" class="form-control" placeholder="URL"/>
                </div>
                <div class="col-2 text-right">
                    <input type="submit" value="Add" class="btn btn-success" />
                    <a class="btn btn-info" asp-action="Update">Cancel</a>
                </div>
            </div>

        </form>
    </div>
}

@if (ViewBag.edit)
{
    <div>
        <form asp-action="Edit" method="post">
            <input asp-for="@Model.Partner.PartnerID" hidden />
            <div class="row">
                <div class="col-3">
                    <input asp-for="@Model.Partner.PartnerName" class="form-control" placeholder="Partner Name"/>
                </div>
                <div class="col-7">
                    <input asp-for="@Model.Partner.PartnerUrl" class="form-control" placeholder="Partner URL"/>
                </div>
                <div class="col-2 text-right">
                    <input type="submit" value="Edit" class="btn btn-warning" />
                    <a class="btn btn-info" asp-action="Update">Cancel</a>
                </div>
            </div>
        </form>
    </div>
}

@if (ViewBag.delete)
{
    <div>
        <form asp-action="Delete" method="post">
            <input asp-for="@Model.Partner.PartnerID" hidden />
            <div class="row">
                <div class="col-3">
                    <input asp-for="@Model.Partner.PartnerName" class="form-control" readonly />
                </div>
                <div class="col-7">
                    <input asp-for="@Model.Partner.PartnerUrl" class="form-control" readonly />
                </div>
                <div class="col-2 text-right">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-info" asp-action="Update">Cancel</a>
                </div>
            </div>
        </form>
    </div>
}

<div class="mt-3 mb-5">
    <table class="table table-hover">
        <thead>
            <tr class="">
                <th class="col-1">No.</th>
                <th class="col-3">Partner</th>
                <th class="col-6">URL</th>
                <th class="col-1"></th>
                <th class="col-1 text-right"><a asp-action="Update" asp-controller="Partners" asp-route-operation="add" asp-route-show=true>Add <i class="bi bi-plus-circle"></i></a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Partners)
            {
                count++;
                <tr>
                    <th class="col-1">@count</th>
                    <td class="col-3">@item.PartnerName</td>
                    <td class="col-6">@item.PartnerUrl</td>
                    <td class="col-1 text-right"><a asp-action="Update" asp-controller="Partners" asp-route-id="@item.PartnerID" asp-route-operation="edit" asp-route-show=true>Edit <i class="bi bi-pencil-fill"></i></a></td>
                    <td class="col-1 text-right"><a asp-action="Update" asp-controller="Partners" asp-route-id="@item.PartnerID" asp-route-operation="delete" asp-route-show=true>Delete <i class="bi bi-trash-fill"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
