@model IEnumerable<ConsultationForm>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h3 class="text-center">Consultation List</h3>

    <p>
        <a asp-action="Create">Consultation Form</a>
    </p>

    <table class="table align-content-center table-striped p-2">
        <thead>
            <tr>
                <th>First Name </th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone No.</th>
                <th>Service Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.EmailAddress</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.ServiceType</td>
                    <td>@item.FormDescription</td>
                </tr>
            }
        </tbody>
    </table>

</div>
