@model AboutUsModel

@{
    Layout = Layout;
    ViewData["Title"] = "- About Us";
}

<div class="img-container">
    <img src="@(Model.ImageFile+Model.TabImage)" alt="@Model.TabImage" class="img-thumbnail card-img-top" asp-append-version="true" />
    <div class="img-text">
        <h4>@Model.TabImageSlogon</h4>
    </div>
</div>

<div class="mt-5 mb-5">
    <h3 class="text-center mb-3">@Model.CEODivTitle</h3>
    <hr class="underline"/>
    <div class="row">
        <div class="col-7">
            <p> @Model.CEODivDesc </p>
            <div class="text-center">
                <img src="@(Model.ImageFile+Model.CEOImage)" alt="@Model.CEOImage" class="w-25" asp-append-version="true"  />
                <p>@Model.CEOName <br> @Model.CEO</p>
            </div>
        </div>
        <div class="col-5 text-right">
            <img src="@(Model.ImageFile+Model.CEODivImage)" alt="@Model.CEODivImage" style="width:440px" asp-append-version="true"  />
        </div>
    </div>
</div>

<div class="text-center mt-5 mb-5">
    <h3>@Model.AboutBusiness</h3>
    <hr class="underline">
    <p>
        Are you tired of getting home from work and having to get out of your car to move things out of the way in your garage before you can park inside? Are you frustrated by being the only one who “knows” where things go in your garage? Isn’t it time you made a permanent and professional overhaul to of the most underutilized spaces in your home? <span style="color: #41ca57;">
            LET US HELP!
        </span> <br /> <br />
        At <span style="color: #41ca57;">Mint </span> Garage we’ll transform your space into a <span style="color: #41ca57;">
            stylish, organized
        </span>, and <span style="color: #41ca57;">
            clean
        </span> area of your home that will make you wonder how you ever lived without us! <br /> <br />
        Browse our <span style="color: #41ca57;">website</span>, like us on <span style="color: #41ca57;">Facebook</span>, follow us on <span style="color: #41ca57;">Twitter</span> and <span style="color: #41ca57;">Instagram!</span> Get some ideas about what you want your garage to look like – then <span style="color: #41ca57;">contact us</span> for a <span style="color: #41ca57;">complimentary consultation</span> and <span style="color: #41ca57;">we’ll make your dream a reality</span>!
    </p>
</div>


<div class="mt-5 mb-5 text-center">
    <h3>@Model.ValueTitle</h3>
    <hr  class="underline">
    <p>@Model.ValueDesc</p>
    <div class="row">
        @foreach (Value item in Model.Values)
        {
            <!--Gallary Item-->
            <div class="col-3">
                <img src="@(Model.ImageFile+item.ValueImage)" alt="@item.ValueImage" class="card-img-top" style="height:100px; width:150px" asp-append-version="true"  />
                <div class="mt-3">
                    <div style="color: #41ca57">
                        <h6><u>@item.ValueTitle</u></h6>
                    </div>
                    <div>
                        <p>@item.ValueDescription</p>
                    </div>
                </div>
            </div>
            <!--Gallary Item End-->
        }
    </div>
</div>

<div class="mt-5 mb-5 text-center">
    <h3>@Model.TeamTitle</h3>
    <hr class="underline">
    <p>@Model.TeamDesc</p>
    <div class="row">
        @foreach (TeamMember member in Model.TeamMembers)
        {
            <div class="column">
                <div class="card">
                    <div class="d-flex align-items-center justify-content-around">
                        <div class=" pt-2 pb-2">
                            <img src="@(Model.ImageFile + member.MemberImage)" alt="@member.MemberImage" style="width:100px" asp-append-version="true" >
                        </div>
                        <div class=" pt-2 pb-2">
                            <p style="color: #41ca57"><u>@member.MemberName</u></p>
                            <p class="title">@member.MemberRole</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
