@model HomeModel

@{
    Layout = Layout;
}

<div class="img-container">
    <img src="~/Images/construction.jpg" alt="construction.jpg" class="img-thumbnail card-img-top" />
    <div class="img-text">
        <p>IT'S TIME TO MINT YOUR GARAGE!</p>
    </div>
</div>

<div class="flex-card-container">
    @foreach (Card item in Model.Cards)
    {
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="~/Images/@item.Image" alt="@item.Image" class="img-thumbnail card-img-top" />
                    <h4>@item.Title</h4>
                </div>
                <div class="card-back mt-4">
                    <h4>@item.Title</h4>
                    <p>@item.Description</p>
                    <a class="btn btn-light" asp-action="Index" asp-controller="Consultation">Get a guoate</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="slideshow-container">
    <h2>Reviews</h2>
    @foreach (Review review in Model.Reviews)
    {
        <!-- Full-width slides/quotes -->
        <div class="mySlides">
            <p>@review.CustomerName</p>
            <p>@review.Description</p>
        </div>
    }
    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>

<h2 class="supplier-text">Our Trusted Suppliers</h2>
<div class="supplier-container">
    @foreach (Supplier supplier in Model.Suppliers)
    {
        <div class="supplier-image">
            <img src="~/Images/@supplier.SupplierLogo" alt="@supplier.SupplierLogo" class="img-thumbnail card-img-top" />
        </div>
    }
</div>



