@model HomeModel

@{
    Layout = Layout;

}

<div class="text-center">
    <h3>Welcome to Mint Garage Home Page</h3>
    <p>We have lots to offer!</p>
</div>


<div class="img-container">
    @foreach (HomeContent home in Model.HomeContent)
    {
        <img src="~/Images/@home.Image" alt="@home.Image" class="img-thumbnail card-img-top" style="height:200px; width:300px" />
        <div class="img-text"><p>@home.Title</p></div>}
</div>

<div class="slideshow-container">
    @foreach (Review review in Model.Review)
    {
        <!-- Full-width slides/quotes -->
        <div class="mySlides">
            <p>@review.CustomerName</p>
            <p> @review.Description</p>
        </div>
    }
    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>

<div class="supplier-container">
    @foreach (Supplier supplier in Model.Supplier)
    {
        <div class="supplier-image">
            <img src="~/Images/@supplier.SupplierLogo" alt="@supplier.SupplierLogo" class="img-thumbnail card-img-top" style="height:200px; width:300px" />
        </div>
    }
</div>



