@model HomeModel

@{
    Layout = Layout;

}

<div class="text-center">
    <h3>Welcome to Mint Garage Home Page</h3>
    <p>We have lots to offer!</p>
</div>


<div class="img-container">
    @foreach (HomeContent home in Model.HomeContent)
    {
        <img src="~/Images/@home.Image" alt="@home.Image" class="img-thumbnail card-img-top"/>
        <div class="img-text"><p>@home.Title</p></div>
    }
</div>

<table>
    @foreach (Review review in Model.Review)
    {
        <tr>
            <td>@review.CustomerName</td>
            <td>@review.Description</td>
        </tr>
    }
</table>

<div class="suppler-container">
    @foreach (Supplier supplier in Model.Supplier)
    {
    <div class="supplier-image">
        <img src="~/Images/@supplier.SupplierLogo" alt="@supplier.SupplierLogo" class="img-thumbnail card-img-top" style="height:200px; width:300px" />
    </div>
    }
</div>  

