@model ProductCategory

@{
    Layout = Layout;
    
}

<!--start Gallary-->
<h2 class="text-center mb-5">Products</h2>
<div class="container-fluid">
    <div class="px-lg-5">
        
        <div class="row m-4">
            <form asp-action="Index" asp-method="Post">
                <span class="col-lg-3">
                    <input asp-for="@Model.SortFilterSearch.SearchValue" placeholder="Search by name..." />
                </span>

                <span class="col-lg-3">
                    <label>Sort By: </label>
                    <select asp-for="@Model.SortFilterSearch.SortBy">
                        <option value="">All</option>
                        <option value="name_asc">SortBy A - Z</option>
                        <option value="name_desc">SortBy Z - A</option>
                        <option value="price_asc">Lowest - Highest Price</option>
                        <option value="price_desc">Highest - Lowest Price</option>
                    </select>
                </span>

                <span class="col-lg-3">
                    <label>Filter By: </label>
                    <select asp-for="@Model.SortFilterSearch.FilterID">
                        <option value="">All</option>
                        @foreach (Category item in Model.Categories)
                        {
                            <option value="@item.CategoryID">@item.Name</option>
                        }
                    </select>
                </span>

                <span class="col-lg-3">
                    <input class="btn btn-primary" type="submit" value="Search" />
                    </span>
            </form>
        </div>

        <div class="row" style="height:120px">
            @foreach (Product item in Model.Products)
            {
                <!--Gallary Item-->
                <div class="col-xl-2 col-lg-3 col-md-4 mb-4">
                    <div class="bg-white rounded shadow-sm">
                        <img src="~/Images/@item.ProductImage" alt="@item.ProductImage" class="img-thumbnail card-img-top" style="height:200px; width:300px" />
                        <div class="p-4">
                            <h5><a class="text-dark">@item.ProductName</a></h5>
                            <p>@item.ProductPrice.ToString("c")</p>
                            <div class="d-flex align-items-center justify-content-between px-3 py-2 mt-4">
                                <div class="btn btn-success px-2 py-1 rounded-pill"> Add to Cart</div>
                                <div class="btn btn-info px-2 py-1 rounded-pill">Details </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallary Item End-->
            }
        </div>
    </div>
</div>

