<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MintGarage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <script src="~/js/_layout.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3">
            <div class="container">

                    <a class="navbar-brand text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Mint Garage</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-flex justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class=" nav-link text-white font-weight-bold" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link text-white font-weight-bold" asp-controller="ConsultationForms" asp-action="Create">Consultation</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link text-white font-weight-bold" asp-controller="Product" asp-action="Index">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link text-white font-weight-bold" asp-controller="Gallery" asp-action="Index">Gallery</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class=" nav-link text-white font-weight-bold dropdown-toggle" data-toggle="dropdown" asp-controller="Partners" asp-action="Index">Partners<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @foreach (var partner in ViewBag.Partners)
                                    {
                                        <li><a href=@partner.PartnerUrl>@partner.PartnerName</a></li>
                                        }
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link text-white font-weight-bold" asp-controller="AboutUs" asp-action="Index">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <div class="container mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-success text-white mt-auto mb-0 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img src="~/Images/mintlogo.png" alt="Mint Logo" />
                    <p class="text-justify">@ViewBag.AboutData</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Links</h6>
                    <ul class="footer-links">
                        <li><a asp-controller="ConsultationForms" asp-action="Create">Consultation</a></li>
                        <li><a asp-controller="Product" asp-action="Index">Products</a></li>
                        <li><a asp-controller="Portfolio" asp-action="Index">Portfolio</a></li>
                        <li><a asp-controller="AboutUs" asp-action="Index">About Us</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Contact Information</h6>
                    <ul class="footer-links">
                        @foreach (var social in ViewBag.SocialMedias)
                        {
                            <li><a href="@social.SocialMediaUrl">@social.Name</a></li>
                        }
                        @foreach (var contact in ViewBag.Contacts)
                        {
                            <li>@contact.EmailAddress</li>
                            <li>@contact.PhoneNumber</li>
                        }
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2017 All Rights Reserved by
                        <a href="#">Scanfcode</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    @foreach (var contact in ViewBag.Contacts)
                    {
                        <p> @contact.PhoneNumber / @contact.EmailAddress </p>
                    }
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@*    @await RenderSectionAsync("Scripts", required: false)
*@</body>
</html>
