@model GalleryModel

@{
    ViewData["Title"] = "Index";
}

<div class="img-container">
    <img src="@(Model.ImageFile+Model.TabImage)" alt="@Model.TabImage" class="img-thumbnail card-img-top" asp-append-version="true" />
    <div class="img-text">
        <h4>@Model.TabImageSlogon</h4>
    </div>
</div>

<div>
    <div class="text-center my-4">
        <h4>@Model.GalleryTitle</h4>
    </div>
    <hr class="underline">
    <div>
        @foreach (var item in Model.Galleries)
        {
            <div class="img-comp-container">
                <div class="img-comp-img">
                    <img src="@(Model.ImageFile+item.AfterImage)" alt="@item.AfterImage" asp-append-version="true" />
                </div>
                <div class="img-comp-img img-comp-overlay">
                    <img src="@(Model.ImageFile+item.BeforeImage)" alt="@item.BeforeImage" asp-append-version="true"/>
                </div>
            </div>
        }
    </div>
</div>
